
html, body {
    margin: 0;
    height: calc(100% - 5px);
    width: 100%;
    font-family: sans-serif;
}
/* 
.layout .column > * {
    display: block;
}

.layout .line > * {
    display: inline;
    height: 100%;
} */
    
body {
    width: 60%;
    margin: 5px auto;
    border: 2px dashed lightgray;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}
button {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color:  skyblue;
    padding: 10px 25px 10px 25px;
    font-family: sans-serif;
    color: black;
    min-width: 150px;
  }
  
  button:hover {
    background-color: coral;
  }


  .input > * {
    display: inline-block;
    margin: 3px;
  }
  
  input {
    margin: 4px;
    border: 1px solid lightgray;
    padding: 6px;
    border-radius: 4Px;
  }